<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>若依管理系统首页</title>
    <meta name="keywords" content="若依管理系统首页">
    <meta name="description" content="若依管理系统首页">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/ruoyi/css/ry-ui.css" rel="stylesheet" />

   
    <style type="text/css">
        .nav > li:hover .dropdown-menu {
            display: block;
        }

        #content-main.max {
            height: calc(100% - 110px);
            overflow: hidden;
            width: 100%;
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            z-index: 9998;
            margin: 0;
        }
    </style>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
<div id="wrapper">

    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            <img src="~/Content/img/user.png" alt="image" class="img-circle" height="60" width="60" />
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs"><strong class="font-bold">用户</strong></span>
                                <span class="text-muted text-xs block"><span>部门</span> <b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="menuItem">个人信息</a></li>
                            <li class="divider"></li>
                            <li><a th:href="/Home/login">退出</a></li>
                        </ul>
                    </div>
                </li>
                <li class="active">
                    <a href="index.html"><i class="fa fa-home"></i> <span class="nav-label">主页</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a class="menuItem">了解若依</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>

                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                            </ul>
                        </li>
                        <li>

                            <a href="#">二级菜单V2</a>

                        </li>
                        <li>

                            <a href="#">二级菜单V3</a>

                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>

                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                                <li>
                                    <a href="#">
                                        <span class="nav-label">三级菜单</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    <ul class="nav nav-second-level collapse">
                                        <li><a class="menuItem" href="#">四级菜单</a></li>
                                    </ul>
                                </li>

                                <li><a class="menuItem" href="#">三级菜单</a></li>
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                               
                            </ul>
                        </li>
                        <li>

                            <a href="#">二级菜单V2</a>

                        </li>
                        <li>

                            <a href="#">二级菜单V3</a>

                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">一级菜单</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="#">二级菜单<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li><a class="menuItem" href="#">三级菜单</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation"
                 style="margin-bottom: 0">
                <div class="navbar-header">

                    <a class="navbar-minimalize minimalize-styl-2 btn btn-default " href="#" title="收起菜单">
                    	<i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right welcome-message">
	                <li>
	                    <span class="m-r-sm text-muted">欢迎来到若依管理后台.</span>
	                </li>
	                <li><a id="fullScreen"><i class="fa fa-arrows-alt"></i>全屏</a></li>
                    <li><a th:href="/Home/login"><i class="fa fa-sign-out"></i>退出</a></li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active menuTab" data-id="/system/main">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                                                                          页签操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                     <li><a class="tabCloseCurrent" href="javascript:void();">关闭当前</a></li>
                     <li><a class="tabCloseOther" href="javascript:void();">关闭其他</a></li>
					 <li><a class="tabCloseAll" href="javascript:void();">全部关闭</a></li>
					 <li><a class="tabMaxCurrent" href="javascript:void();">全屏显示</a></li>
                </ul>
            </div>
            <a href="#" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
        </div>
        
        <a id="ax_close_max" class="ax_close_max" href="#" title="关闭全屏"> <i class="fa fa-times-circle-o"></i> </a>
                    
        <div class="row mainContent" id="content-main">
            <iframe class="RuoYi_iframe" name="iframe0" width="100%" height="100%" data-id="/system/main"
                   frameborder="0" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">© 2018 RuoYi Copyright </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<!-- 全局js -->
<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/Scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/ajax/libs/blockUI/jquery.blockUI.js"></script>
<script src="~/Scripts/ruoyi/js/ry-ui.js"></script>
<script src="~/Scripts/ruoyi/index.js"></script>
<script src="~/Scripts/ajax/libs/fullscreen/jquery.fullscreen.js"></script>
<script src="http://tajs.qq.com/stats?sId=62048022"></script>
</body>
</html>
